.Brian-profile {
  border-radius: 50%;
  width: 65%;
}

.container {
  position: relative;
}

.left-aside {
  display: inline-block;
  margin-top: 100px;
  text-align: left;
  margin-left: 70px;
}

.profile-btn {
  width: 275px;
  height: 30px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #D8DBDB;
  background-color: white;
}

.following-follower {
  margin-top: 13px;
}

.following-follower a {
  text-decoration: none;
  color: #576068;
  padding-right: 15px;
}

.aside-hr {
  margin-top: 45px;
  width: 60%;
  margin-top: 45px;
  margin-right: 180px;
}

.organizations {
  font-size: 17px;
}

.css-2020 {
  width: 14%;
}

.container-1 {
  margin-left: 70px;
  display: inline-block;
}

.container-2 {
  position: absolute;
  display: inline-flex;
  top: 15%;
  left: 25%;
}

.search-bar {
  margin-bottom: 35px;

}
.search-bar input{
  width: 400px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #E1E4E8;
  padding-left: 12px;
}

.repos-list {
  list-style: none;
  width: 860px;
}

.repos-list a {
  text-decoration: none;
  font-size: 25px;
  color: #0468D2;
}

.repos-list button {
  margin-left: 800px;
}

.repos-list p {
  margin-bottom: 45px;
  margin-top:0;
}
